/target
node_modules
.venv
.DS_Store

# unreviewed insta snapshots
*.snap.new

# JetBrains Editors
.idea/

# Python artifacts
*.so
__pycache__
**./.null-ls-cache*

# quil-py documentation
quil-py/build

# unversioned developer notes
scratch/
