/target
node_modules
.venv
.DS_Store

# unreviewed insta snapshots
*.snap.new

# IDEs and editors
.idea/
.vscode/

# Python artifacts
*.so
__pycache__
**./.null-ls-cache*

# quil-py documentation
quil-py/build
quil-py/pyrightconfig.json

# unversioned developer notes
scratch/
