/target
node_modules
.venv
.DS_Store

# unreviewed insta snapshots
*.snap.new

# IDEs and editors
.idea/
.vscode/

# Python artifacts
*.so
__pycache__
**./.null-ls-cache*
.hypothesis/

# quil-py documentation
quil-rs/build
quil-rs/pyrightconfig.json

# unversioned developer notes
scratch/

# images written by the quil-plotting example notebook
quil-plotting/examples/plots/
.ipynb_checkpoints/

# plots written by the quil-plotting tests, for visual inspection of a run
quil-plotting/tests/test_plots/
quil-plotting/tests/test_plots_altair/
