[workspace]
default-members = ["quil-rs"]
members = ["quil-rs", "quil-cli"]
resolver = "2"

[profile.release]
lto = true
codegen-units = 1

[workspace.dependencies]
ndarray = { version = "0.17.1", features = ["approx"] }
strum = { version = "0.26.0", features = ["derive"] }
indexmap = "2.10.0"
