[workspace]
default-members = ["quil-rs"]
members = ["quil-rs", "quil-cli"]
resolver = "2"

[profile.release]
lto = true
codegen-units = 1

[workspace.dependencies]
clap = { version = "4.5.4", features = ["derive"] }
