# This template contains all of the possible sections and their default values

# Note that all fields that take a lint level have these possible values:
# * deny - An error will be produced and the check will fail
# * warn - A warning will be produced, but the check will not fail
# * allow - No warning or error will be produced, though in some cases a note
# will be

# This section is considered when running `cargo deny check advisories`
# More documentation for the advisories section can be found here:
# https://embarkstudios.github.io/cargo-deny/checks/advisories/cfg.html
[advisories]
# The path where the advisory database is cloned/fetched into
db-path = "~/.cargo/advisory-db"
# The url(s) of the advisory databases to use
db-urls = ["https://github.com/rustsec/advisory-db"]

ignore = [
  { id = "RUSTSEC-2024-0436", reason = "We use `paste` to generate type stubs." },
  # `pyo3-stub-gen` uses `rustpython-parser` which uses `rust-unic` crates, which are now unmaintained.
  # Hopefully `pyo3-stub-gen` will switch to `ruff_python_parser`: https://github.com/Jij-Inc/pyo3-stub-gen/issues/359
  # We'll ignore it for now, since `pyo3-stub-gen` is effectively a build-time dependency anyway.
  { id = "RUSTSEC-2025-0075", reason = "rust-unic is unmaintained, but a transitive dependency of pyo3-stub-gen" },
  { id = "RUSTSEC-2025-0080", reason = "rust-unic is unmaintained, but a transitive dependency of pyo3-stub-gen" },
  { id = "RUSTSEC-2025-0081", reason = "rust-unic is unmaintained, but a transitive dependency of pyo3-stub-gen" },
  { id = "RUSTSEC-2025-0098", reason = "rust-unic is unmaintained, but a transitive dependency of pyo3-stub-gen" },
  { id = "RUSTSEC-2025-0090", reason = "rust-unic is unmaintained, but a transitive dependency of pyo3-stub-gen" },
  { id = "RUSTSEC-2025-0100", reason = "rust-unic is unmaintained, but a transitive dependency of pyo3-stub-gen" },
]


# This section is considered when running `cargo deny check licenses`
# More documentation for the licenses section can be found here:
# https://embarkstudios.github.io/cargo-deny/checks/licenses/cfg.html
[licenses]
unused-allowed-license = "allow"
allow = [
  "Apache-2.0",
  "Apache-2.0 WITH LLVM-exception",
  "BSD-2-Clause",
  "BSD-3-Clause",
  "CC0-1.0",
  "MIT",
  "Unicode-DFS-2016",
  "Unicode-3.0",
  "Zlib",
]
# The confidence threshold for detecting a license from license text.
# The higher the value, the more closely the license text must be to the
# canonical license text of a valid SPDX license file.
# [possible values: any between 0.0 and 1.0].
confidence-threshold = 0.8

[licenses.private]
# If true, ignores workspace crates that aren't published, or are only
# published to private registries
ignore = true

# This section is considered when running `cargo deny check bans`.
# More documentation about the 'bans' section can be found here:
# https://embarkstudios.github.io/cargo-deny/checks/bans/cfg.html
[bans]
multiple-versions = "deny"
wildcards = "deny"
highlight = "all"
skip-tree = [
  { name = "rand", version = "=0.8.5" },      # statrs has an outdated version
]

skip = [
    { crate = "hashbrown", reason = "indexmap, internment, and dashmap (used by internment) all use different versions" },
    { crate = "itertools", reason = "pyo3-stub-gen depends on rustpython-parser and numpy, and each use a different version" },
    { crate = "rustc-hash", reason = "pyo3-stub-gen depends on rustpython-parser and numpy, and each use a different version" },
]

[[bans.features]]
  # This feature is being deprecated in favor of build tooling (particularly, maturin).
  crate = "pyo3"
  deny = ["extension-module"]

# This section is considered when running `cargo deny check sources`.
# More documentation about the 'sources' section can be found here:
# https://embarkstudios.github.io/cargo-deny/checks/sources/cfg.html
[sources]
# Lint level for what to happen when a crate from a crate registry that is not
# in the allow list is encountered
unknown-registry = "deny"
# Lint level for what to happen when a crate from a git repository that is not
# in the allow list is encountered
unknown-git = "deny"
# List of URLs for allowed crate registries. Defaults to the crates.io index
# if not specified. If it is specified but empty, no registries are allowed.
allow-registry = ["https://github.com/rust-lang/crates.io-index"]
allow-git = [
    "https://github.com/rigetti/rigetti-pyo3",
]
