[package]
name = "quil-rs"
description = "Rust tooling for Quil (Quantum Instruction Language)"
version = "0.27.1"
edition = "2021"
rust-version = "1.70"
license = "Apache-2.0"
repository = "https://github.com/rigetti/quil-rs"
keywords = ["Quil", "Quantum", "Rigetti"]
categories = ["parser-implementations", "science", "compilers", "emulators"]

[dependencies]
approx = { version = "0.5.1", features = ["num-complex"] }
dot-writer = { version = "0.1.2", optional = true }
itertools = "0.12.1"
lexical = "6.1.1"
ndarray.workspace = true
nom = "7.1.1"
nom_locate = "4.0.0"
num-complex = "0.4.0"
once_cell = "1.17.1"
petgraph = "0.6.4"
regex = "1.7.1"
serde = { version = "1.0.125", features = ["derive"] }
strum.workspace = true
thiserror = "1.0.56"
indexmap.workspace = true
statrs = "0.16.0"

[dev-dependencies]
clap = { version = "4.3.19", features = ["derive", "string"] }
criterion = { version = "0.5.1", features = ["html_reports"] }
insta = "1.37.0"
petgraph = "0.6.2"
proptest = "1.0.0"
proptest-derive = "0.3.0"
rand = "0.8.5"
rasciigraph = "0.2.0"
rstest = "0.18.2"

# These are described in the crate README.md
[features]
graphviz-dot = ["dot-writer"]
wasm-bindgen = []

[[bench]]
name = "parser"
harness = false

[[bench]]
name = "get_frames_for_instruction"
harness = false

[[bench]]
name = "scheduled_program_from_program"
harness = false

[[bench]]
name = "simplification"
harness = false

[[example]]
name = "generate_test_expressions"
