[flake8]
max-line-length = 120
# E203, E302 ignored for black compatibility
extend-ignore = E203, E302

per-file-ignores = 
    **/__init__.pyi:F401,F403 # Disable "unused" warning for top-level exports
